*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#container {
  display: grid;
  background-color: aliceblue;
  height: 80vh;
  width: 80vw;
  margin: 100px 0 0 0;
  border: 10px solid brown;
  grid-auto-columns: auto;
  grid-template-rows: repeat(8, 1fr);
}

.row {
  display: flex;
  gap: 5px;
  border-bottom: 5px solid brown;
}

.row:last-child {
  border: 0;
}

.book {
  flex: 0 0 auto;
  background-color: tomato;
  width: 4rem;
  border: 5px solid black;
  font-size: 0.9rem;
  text-wrap: pretty;
}
