*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Roboto, system-ui, Cantarell, 'Open Sans', sans-serif;
  --custom-beige: rgba(148, 79, 5, 0.759);
}

* {
  margin: 0;
}

body {

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 40px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

::backdrop {
  background-color: black;
  opacity: 0.80;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}


#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 15px;
  background-color: var(--custom-beige);
  box-shadow: 10px 0px 15px gray;
  height: 80vh;
  width: 60vw;
  padding: 10px;
  border: 10px solid brown;
  overflow: scroll;
  scrollbar-width: none;
}


.book {
  flex: 0 0 auto;
  background-color: rgb(146, 75, 63);
  color: white;
  padding: 5px;
  border: 0;
  width: 15rem;
  height: 10rem;
  border-radius: 15px;
  font-size: 0.9rem;
  text-wrap: pretty;
  word-wrap: break-word;
  overflow: scroll;
  scrollbar-width: none;
  text-align: center;
}

dialog {
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  border: 0;
}

form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 40vw;
  justify-content: space-evenly;
}

section {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.top {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-bottom: 40px;
}